<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
    <script>
        window.onload=function(){
            new Vue({
                el:'#box',
                data:{
                    arr:['apple','banana','orange','pear'],
                    json:{a:"apple",b:"banana",c:"pear"}
                }
            });
        }
    </script>
</head>
<body>
<div id="box">
<ul>
    <li v-for="value in arr">{{value}}</li>
</ul>
    循环用v-for="value in arr" 其中value是随便起的  arr是上面的数组
</div>
</body>
</html>